.navbar {
    display: flex;
    width: 90%;
    margin: -10px auto;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 38px;
    }

    &-container{
        display: flex;
        margin-left: auto;
        padding: 0px 30px;

        &-link{
            font-size: 20px;
            padding: 0px 20px;
        }
    }
    
}

.mainContainer{
    width: 90%;
    margin: 0 auto;
}